/****** Object:  StoredProcedure [dbo].[sp_AcknowledgePolicy]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AcknowledgePolicy]
    @PolicyId UNIQUEIDENTIFIER,
    @AcknowledgedBy UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE PolicyMasters
    SET IsAcknowledged   = 1,
        AcknowledgedDate = GETUTCDATE(),
        AcknowledgedBy   = @AcknowledgedBy,
        UpdatedDate      = GETUTCDATE()
    WHERE Id = @PolicyId;

    -- Return the updated row
    SELECT Id,
           PolicyTitle,
           PolicyDescription,
           CreatedDate,
           UpdatedDate,
           IsEnabled,
           IsAcknowledged,
           CreatedBy,
           AcknowledgedDate,
           AcknowledgedBy
    FROM PolicyMasters
    WHERE Id = @PolicyId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPolicies]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetAllPolicies]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id, 
        PolicyTitle, 
        PolicyDescription, 
        CreatedDate, 
        UpdatedDate, 
        IsEnabled, 
        CreatedBy,
		isAcknowledged,
		isPublished
    FROM PolicyMasters
    ORDER BY CreatedDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPoliciesForUser]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetAllPoliciesForUser]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id, 
        PolicyTitle, 
        PolicyDescription, 
        CreatedDate, 
        UpdatedDate, 
        IsEnabled, 
        CreatedBy,
		isAcknowledged,
		IsPublished
    FROM PolicyMasters
	where ispublished = 1
    ORDER BY CreatedDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllRiskExceptionsWithPolicy]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllRiskExceptionsWithPolicy]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        re.Id AS RiskExceptionId,
        re.PolicyId,
        p.PolicyTitle,
        p.PolicyDescription,
        re.SubmittedBy,
        u.UserName AS SubmittedByUserName,
        re.Reason,
        re.DurationInDays,
        re.RiskRating,
        re.SubmittedDate,
        re.IsApproved,
        re.AdminComments,
        re.ApprovedBy,
        re.ApprovalDate
    FROM RiskExceptions re
    INNER JOIN PolicyMasters p ON re.PolicyId = p.Id
    LEFT JOIN AspNetUsers u ON re.SubmittedBy = u.Id
    ORDER BY re.SubmittedDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPoliciesWithExceptionsAndAcknowledgements]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetPoliciesWithExceptionsAndAcknowledgements]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  
        p.PolicyTitle,
        p.PolicyDescription,
        
        -- Case statement for IsPublished
        CASE 
            WHEN p.IsPublished = 1 THEN 'Published'
            WHEN p.IsPublished = 0 THEN 'Not Published'
            ELSE 'Unknown'
        END AS IsPublishedStatus,

        -- Case statement for IsAcknowledged
        CASE 
            WHEN p.IsAcknowledged = 1 THEN 'Acknowledged'
            WHEN p.IsAcknowledged = 0 THEN 'Not Acknowledged'
            ELSE 'Unknown'
        END AS IsAcknowledgedStatus,
        
        -- Handling NULL values for AcknowledgedBy by replacing NULL with 'Unknown'
        COALESCE(CONCAT(u.FirstName, ' ', u.MiddleName, ' ', u.LastName), 'Unknown') AS AcknowledgedBy,
        
        p.AcknowledgedDate,
        
        re.Reason,
        re.DurationInDays,
        re.RiskRating,
        re.SubmittedDate AS ExceptionSubmissionDate,

        -- Case statement for IsApprovedException
        CASE
            WHEN re.IsApproved = 1 THEN 'Approved'
            WHEN re.IsApproved = 2 THEN 'Rejected'
            ELSE 'Pending'
        END AS ExceptionApprovalStatus,

        -- Handling NULL values for ExceptionApprovedBy by replacing NULL with 'Unknown'
        COALESCE(CONCAT(ur.FirstName, ' ', ur.MiddleName, ' ', ur.LastName), 'Unknown') AS ExceptionApprovedBy,
        
        re.ApprovalDate,
        
        -- Handling NULL values for AdminComments by replacing NULL with 'N/A'
        COALESCE(re.AdminComments, 'N/A') AS AdminComments

    FROM PolicyMasters p
    LEFT JOIN RiskExceptions re ON p.Id = re.PolicyId
    LEFT JOIN AspNetUsers a ON p.AcknowledgedBy = a.Id
    LEFT JOIN UserDetails u ON a.Id = u.LoginId
    LEFT JOIN AspNetUsers ar ON re.ApprovedBy = ar.Id
    LEFT JOIN UserDetails ur ON ar.Id = ur.LoginId
    ORDER BY p.CreatedDate DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPolicyById]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetPolicyById]
    @PolicyId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.Id, 
        p.PolicyTitle, 
        p.PolicyDescription, 
        p.CreatedDate, 
        p.UpdatedDate, 
        p.IsEnabled, 
        p.CreatedBy,
        p.AcknowledgedBy,
        p.AcknowledgedDate,
        (u.FirstName + ' ' + ISNULL(u.MiddleName + ' ', '') + u.LastName) AS AcknowledgedByName
    FROM PolicyMasters p
    LEFT JOIN AspNetUsers a ON p.AcknowledgedBy = a.Id
    LEFT JOIN UserDetails u ON a.Id = u.LoginId
    WHERE p.Id = @PolicyId;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPublishedPoliciesForException]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetPublishedPoliciesForException]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.Id, 
        p.PolicyTitle, 
        p.PolicyDescription, 
        p.CreatedDate, 
        p.UpdatedDate, 
        p.IsEnabled, 
        p.CreatedBy,
        p.IsAcknowledged,
        p.IsPublished
    FROM PolicyMasters p
    WHERE p.IsPublished = 1
      AND NOT EXISTS (
          SELECT 1 
          FROM RiskExceptions re 
          WHERE re.PolicyId = p.Id
      )
    ORDER BY p.CreatedDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPublishedPoliciesForUserForException]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_GetPublishedPoliciesForUserForException]
    @UserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.Id, 
        p.PolicyTitle, 
        p.PolicyDescription, 
        p.CreatedDate, 
        p.UpdatedDate, 
        p.IsEnabled, 
        p.CreatedBy,
        p.IsAcknowledged,
        p.IsPublished,
        CASE 
            WHEN EXISTS (
                SELECT 1
                FROM RiskExceptions re
                WHERE re.PolicyId = p.Id
                  AND re.SubmittedBy = @UserId
            )
            THEN 0
            ELSE 1
        END AS CanRaiseException
    FROM PolicyMasters p
    WHERE p.IsPublished = 1
    ORDER BY p.CreatedDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStats]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetStats]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        (SELECT COUNT(*) FROM PolicyMasters WHERE IsPublished = 1) AS TotalPublishedPolicies,
        (SELECT COUNT(*) FROM PolicyMasters WHERE IsAcknowledged = 1) AS TotalAcknowledged,
        (SELECT COUNT(*) FROM RiskExceptions) AS TotalExceptions,
        (SELECT COUNT(*) FROM RiskExceptions WHERE IsApproved = 1) AS ApprovedExceptions;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPolicy]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertPolicy]
    @PolicyTitle NVARCHAR(200),
    @Description NVARCHAR(MAX) = NULL,
    @CreatedBy UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewId UNIQUEIDENTIFIER = NEWID();

    INSERT INTO [dbo].[PolicyMasters] 
    (
        Id,
        PolicyTitle,
        PolicyDescription,
        CreatedDate,
        UpdatedDate,
        IsEnabled,
        CreatedBy
    )
    VALUES 
    (
        @NewId,
        @PolicyTitle,
        @Description,
        GETDATE(),
        GETDATE(),
        1,
        @CreatedBy
    );

    -- Return the inserted record
    SELECT 
        Id,
        PolicyTitle,
        PolicyDescription AS Description,
        CreatedDate,
        UpdatedDate,
        IsEnabled,
        CreatedBy
    FROM [dbo].[PolicyMasters]
    WHERE Id = @NewId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertRiskException]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertRiskException]
    @PolicyId UNIQUEIDENTIFIER,
    @SubmittedBy UNIQUEIDENTIFIER,
    @Reason NVARCHAR(500),
    @DurationInDays INT,
    @RiskRating NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewId UNIQUEIDENTIFIER = NEWID();

    INSERT INTO RiskExceptions
    (
        Id,
        PolicyId,
        SubmittedBy,
        Reason,
        DurationInDays,
        RiskRating,
        SubmittedDate,
        IsApproved,
        AdminComments,
        ApprovedBy,
        ApprovalDate
    )
    VALUES
    (
        @NewId,
        @PolicyId,
        @SubmittedBy,
        @Reason,
        @DurationInDays,
        @RiskRating,
        GETDATE(),
        0,
        '',          -- default empty string for AdminComments
        NULL,        -- ApprovedBy null
        NULL         -- ApprovalDate null
    );

    -- Return the full inserted row
    SELECT
        Id,
        PolicyId,
        SubmittedBy,
        Reason,
        DurationInDays,
        RiskRating,
        SubmittedDate,
        IsApproved,
        AdminComments,
        ApprovedBy,
        ApprovalDate
    FROM RiskExceptions
    WHERE Id = @NewId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PublishPolicy]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PublishPolicy]
    @PolicyId UNIQUEIDENTIFIER,
    @Publish BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE PolicyMasters
    SET IsPublished = @Publish,
        UpdatedDate = GETDATE()
    WHERE Id = @PolicyId;

    SELECT Id,
           PolicyTitle,
           PolicyDescription,
           CreatedDate,
           UpdatedDate,
           IsEnabled,
           IsAcknowledged,
           IsPublished,
           CreatedBy
    FROM PolicyMasters
    WHERE Id = @PolicyId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePolicy]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdatePolicy]
    @PolicyId UNIQUEIDENTIFIER,
    @PolicyTitle NVARCHAR(200),
    @Description NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Perform the update operation
    UPDATE PolicyMasters
    SET 
        PolicyTitle = @PolicyTitle,
        PolicyDescription = @Description,
        UpdatedDate = GETDATE()
    WHERE Id = @PolicyId;

    -- Return the updated record
    SELECT 
        Id,
        PolicyTitle,
        PolicyDescription,
        CreatedDate,
        UpdatedDate
    FROM PolicyMasters
    WHERE Id = @PolicyId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRiskExceptionStatus]    Script Date: 8/27/2025 2:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateRiskExceptionStatus]
    @RiskExceptionId UNIQUEIDENTIFIER,
    @IsApproved INT, -- 1 = Approved, 2 = Rejected
    @AdminComments NVARCHAR(1000),
    @ApprovedBy UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE RiskExceptions
    SET 
        IsApproved = @IsApproved,
        AdminComments = @AdminComments,
        ApprovedBy = @ApprovedBy,
        ApprovalDate = GETDATE()
    WHERE Id = @RiskExceptionId;

    -- Return the updated record
    SELECT *
    FROM RiskExceptions
    WHERE Id = @RiskExceptionId;
END
GO
