<!-- Not authorized-->


<div class="flex flex-col items-center justify-center h-[95%]">
    <div class="mb-10">
        <img alt="image" class="dark:hidden max-h-[160px]" src="assets/media/illustrations/21.svg" />
        <img alt="image" class="light:hidden max-h-[160px]" src="assets/media/illustrations/21-dark.svg" />
    </div>
    <span class="badge badge-primary badge-outline mb-3">
        401 Error
    </span>
    <h3 class="text-2.5xl font-semibold text-gray-900 text-center mb-2">
        We have lost this page
    </h3>
    <div class="text-md font-medium text-center text-gray-600 mb-10">
        Unauthorized access! Please log in to view this page.
        <a class="text-primary font-medium hover:text-primary-active cursor-pointer" (click)="endSession()">
            Login
        </a>
    </div>
    <div *ngIf="loading" class="flex justify-center">
        <app-loading [loading]="loading"></app-loading>
      </div>
    <!-- <div class="relative">
     <input class="input ps-8 max-w-64" placeholder="Search Metronic" type="text" value=""/>
     <button class="btn btn-clear btn-icon text-gray-500 btn-sm absolute left-0 top-2/4 -translate-y-2/4 ms-1">
      <i class="ki-filled ki-magnifier">
      </i>
     </button>
    </div> -->
</div>